<!--登录时候的初始界面！有简单的注册登录功能-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1">
    <link rel="stylesheet" href="../../static/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/css/login.css">
    <title>全球新冠疫情可视化系统</title>
    <script>
        function jump_to_register()
        {
            window.location = 'http://127.0.0.1:8000/register/'
        }
    </script>
</head>
<body>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>哦！让我们瞧瞧会发生什么</strong>&nbsp;{{ warning }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
    <div id="login-box">
        <h2 style="color: #000" class="text-center">全球新冠疫情可视化系统</h2>
       <form class = "login" action="" method="post">
        {% csrf_token %}
           <div class = 'input-box form-floating mb-3'>
               <input id = 'floatingInput' class = "form-control" name = 'user' type = "text" placeholder="请输入用户名" maxlength="20">
               <label for = "floatingInput">账号</label>
            </div>
            <div class = 'input-box form-floating'>
                <input id = 'floatingPassword' class="form-control" name = 'pwd' type="password" placeholder="请输入密码" maxlength="20">
                <label for = "floatingPassword">密码</label>
            </div>
            <button name = "register" class="btn btn-primary btn btn-lg btn-block" type = "button" onclick="jump_to_register()">
                <i class="fa fa-smile-o"></i>注册</button>
            <button name = "login" class = "btn btn-success btn btn-lg btn-block" type = "submit"><i class="fa fa-sign-in"></i>登录</button>
       </form>
    </div>
    <script src="../../static/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>